<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visuals</title>
    <link rel="stylesheet" href="main.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
    <script src="bower_components/typed.js/dist/typed.min.js"></script>

    <script src="app-module.js"></script>
    <script src="app-routes.js"></script>

    <script src="main.js"></script>


    <script type="text/javascript" src="bower_components/slick-carousel/slick/slick.min.js"></script>

</head>



<body ng-app="ddPhotography">

    <nav>
        <div class="nav-wrapper white">
            <a href="#!" class="brand-logo left" id="nav-title"><i class="fa fa-camera-retro" aria-hidden="true"></i>Dee Dee Visuals</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="menu-icons right hide-on-med-and-down">



                <li id="pictures"><a href="sass.html"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li>
                <li id="instagram">
                    <a href="https://www.instagram.com/dd_visuals/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li id="twitter"><a href="badges.html"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li id="facebook">
                    <a href="collapsible.html"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>

            </ul>
            <ul class="side-nav" id="mobile-demo">

                <li id="pictures"><a href="sass.html"><i class="fa fa-picture-o" aria-hidden="true"></i>Photos</a></li>
                <li id="instagram">
                    <a href="https://www.instagram.com/dd_visuals/" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                </li>
                <li id="twitter"><a href="badges.html"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></li>
                <li id="facebook">
                    <a href="collapsible.html"> <i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
                </li>
            </ul>
        </div>
    </nav>


    <div>


        <div class="" ng-controller="mainController">


            <video autoplay loop poster="polina.jpg" id="bgvid">

                <source src="img/main.mp4" type="video/mp4">
            </video>

            <div style="background-color:rgba(0,0,0,0.26); ">

                <div class="row">
                    <div class="col s7" style="height:100vh; color:white; font-size:35px;padding:14vw; margin-top:2vh;">

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                                Typed.new(".element", {
                                    strings: ["Photographer", "Filmmaker", "Artist", "Animal Lover", "Enviromentalist"],
                                    typeSpeed: -1
                                });
                            });
                        </script>
                      
                        My Name is Dee Dee and I'm a 
                        <span class="element"></span>



                    </div>
                    <div class="col s4" style="height:100vh">
                        <h1 style="color:white">Who Am I ?</h1>
                        <img id="profileImg" src="img/profile.jpg" alt="">


                    </div>



                </div>

                    <div class="row">
                    <div class="col s6 offset-s5" >


                        <h2 style="color:white">My Work</h2>



                    </div>



                </div>
                <div class="row">
                    <div class="col s4" ng-repeat="number in imageArray">


                        <img class="materialboxed" width="650" ng-src="img/img{{number}}.JPG" alt="">



                    </div>



                </div>

            </div>
            <!--<div class="section  grey lighten-2" style="height:20vh;">
                <div class="row container">

                </div>
            </div>
            <div class="parallax-container">

                <div class="parallax"><img src="img/img4.JPG"></div>
            </div>
            <div class="section  grey lighten-2" style="height:100vh;">
                <div class="row container">

                </div>
            </div>

-->

            <!--<div class="row">
                <div class="col s12">
                    <div class="showcase">
                        <div ng-repeat="number in shuffle(imageArray)">
                            <img ng-src="img/img{{number}}.JPG" alt="">


                        </div>

                    </div>
                </div>


            </div>-->




        </div>


    </div>



</body>

</html>