 body {
            font-family: 'Inknut Antiqua', serif;
            background-color: white;
        }

        .page-footer {
            background-color: white;
            color: #3c5275 !important;
            border-top: 1px solid #ccc;
        }



        img {
            width: 100%;
            height: 85vh;
            border: solid 2px #ccc;
        }

        .menu-icons {
            font-size: 20px;
        }

        .menu-icons a:hover {}

        i {
            color: #3c5275!important;
            font-size: 25px !important;
            font-family: 'Inknut Antiqua', serif;
        }
        /*.wrapper{
            height: 200px;

        }*/

        #nav-title {
            font-weight: 500;
            color: #3c5275;
            font-size: 23px;
        }

        .side-nav {
            padding-top: 10vh;
            font-weight: 700;
        }

        .side-nav li>a {

            font-size: 28px;
            color: #3c5275;
        }

        li a:hover {
            background: white !important;
            width: inherit !important;
            height: inherit !important;
            margin-bottom: 0px !important;
            padding-bottom: 0px !important;
        }


        #pictures>a:hover>i {
            color: red !important;
        }

        #twitter>a:hover>i {

            color: #1DA1F2 !important;
        }

        #instagram>a:hover>i {
            color: #D73188 !important;
        }

        #facebook>a:hover>i {
            color: #46629E !important;
        }

        .brand-logo {
            margin-left: 1vw;
        }


        .mycontainer {
            border-top: black 1px solid;
        }

        nav .nav-wrapper {
            overflow: hidden;
        }

        @media(width:600px) {

            i {
                color: #3c5275 !important;
                font-size: 40px !important;
                font-family: 'Inknut Antiqua', serif;
            }


            .brand-logo {
                margin-left: 0px;
                font-size: 11px !important;
            }
        }